Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# getting the joined data
city_bike_share = pd.read_csv('city_bike_share.csv')

In [5]:
# view columns
city_bike_share.columns

Index(['Unnamed: 0.1', 'fsq_id', 'categories', 'chains', 'closed_bucket',
       'distance', 'link', 'name_x', 'timezone', 'geocodes.main.latitude',
       'geocodes.main.longitude', 'geocodes.roof.latitude',
       'geocodes.roof.longitude', 'location.address', 'location.country',
       'location.cross_street', 'location.formatted_address',
       'location.locality', 'location.postcode', 'location.region',
       'related_places.parent.fsq_id', 'related_places.parent.categories',
       'related_places.parent.name', 'geocodes.drop_off.latitude',
       'geocodes.drop_off.longitude', 'related_places.children',
       'location.address_extended', 'bike_station_index', 'location.po_box',
       'geocodes.front_door.latitude', 'geocodes.front_door.longitude',
       'Unnamed: 0', 'id', 'name_y', 'latitude', 'longitude', 'timestamp',
       'free_bikes', 'empty_slots', 'extra.uid', 'extra.renting',
       'extra.returning', 'extra.last_updated', 'extra.slots',
       'extra.normal_bikes', 'extra.ebikes', 'extra.has_ebikes'],
      dtype='object')

In [ ]:
city_bike_share_columns = pd.read_csv('city_bike_column_dropped.csv')

In [ ]:
city_bike_share_columns.columns

Index(['Unnamed: 0.1', 'fsq_id', 'categories', 'chains', 'closed_bucket',
       'distance', 'link', 'name_x', 'timezone', 'geocodes.main.latitude',
       'geocodes.main.longitude', 'geocodes.roof.latitude',
       'geocodes.roof.longitude', 'location.address', 'location.country',
       'location.cross_street', 'location.formatted_address',
       'location.locality', 'location.postcode', 'location.region',
       'related_places.parent.fsq_id', 'related_places.parent.categories',
       'related_places.parent.name', 'geocodes.drop_off.latitude',
       'geocodes.drop_off.longitude', 'related_places.children',
       'location.address_extended', 'bike_station_index', 'location.po_box',
       'geocodes.front_door.latitude', 'geocodes.front_door.longitude',
       'Unnamed: 0', 'id', 'name_y', 'latitude', 'longitude', 'timestamp',
       'free_bikes', 'empty_slots', 'extra.uid', 'extra.renting',
       'extra.returning', 'extra.last_updated', 'extra.slots',
       'extra.normal_bikes', 'extra.ebikes', 'extra.has_ebikes'],
      dtype='object')

In [ ]:
df_dropped_columns = city_bike_share_columns.drop(['extra.uid', 'extra.renting',
       'extra.returning', 'extra.last_updated', 'extra.slots',
       'extra.normal_bikes', 'extra.ebikes', 'extra.has_ebikes'], axis=1)

In [ ]:
df_dropped_columns.columns

Index(['Unnamed: 0.1', 'fsq_id', 'categories', 'chains', 'closed_bucket',
       'distance', 'link', 'name_x', 'timezone', 'geocodes.main.latitude',
       'geocodes.main.longitude', 'geocodes.roof.latitude',
       'geocodes.roof.longitude', 'location.address', 'location.country',
       'location.cross_street', 'location.formatted_address',
       'location.locality', 'location.postcode', 'location.region',
       'related_places.parent.fsq_id', 'related_places.parent.categories',
       'related_places.parent.name', 'geocodes.drop_off.latitude',
       'geocodes.drop_off.longitude', 'related_places.children',
       'location.address_extended', 'bike_station_index', 'location.po_box',
       'geocodes.front_door.latitude', 'geocodes.front_door.longitude',
       'Unnamed: 0', 'id', 'name_y', 'latitude', 'longitude', 'timestamp',
       'free_bikes', 'empty_slots'],
      dtype='object')

In [ ]:
df_dropped_columns['categories'].value_counts()

categories
[{'id': 18021, 'name': 'Gym and Studio', 'short_name': 'Gym and Studio', 'plural_name': 'Gym and Studios', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                                                                                                                                                                                                           2239
[{'id': 16032, 'name': 'Park', 'short_name': 'Park', 'plural_name': 'Parks', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1826
[{'id': 18000, 'name': 'Sports and Recreation', 'short_name': 'Sports and Recreation', 'plural_name': 'Sports and Recreation', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                                                                                                                                                                               636
[{'id': 18028, 'name': 'Yoga Studio', 'short_name': 'Yoga Studio', 'plural_name': 'Yoga Studios', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/gym_yogastudio_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                                                                                                                                                                                                             579
[{'id': 18036, 'name': 'Martial Arts Dojo', 'short_name': 'Martial Arts Dojo', 'plural_name': 'Martial Arts Dojos', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/gym_martialarts_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                                                                                                                                                                                          481
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
[{'id': 13276, 'name': 'Sushi Restaurant', 'short_name': 'Sushi', 'plural_name': 'Sushi Restaurants', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/sushi_', 'suffix': '.png'}}, {'id': 19047, 'name': 'Rail Station', 'short_name': 'Rail Station', 'plural_name': 'Rail Stations', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/trainstation_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                           1
[{'id': 18044, 'name': 'Squash Court', 'short_name': 'Squash Court', 'plural_name': 'Squash Courts', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/stadium_tennis_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                                                                                                                                                                                               1
[{'id': 17031, 'name': 'Costume Store', 'short_name': 'Costume Store', 'plural_name': 'Costume Stores', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/default_', 'suffix': '.png'}}, {'id': 18025, 'name': 'Dance Studio', 'short_name': 'Dance Studio', 'plural_name': 'Dance Studios', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/performingarts_dancestudio_', 'suffix': '.png'}}]                                                                                                                                                                                                                            1
[{'id': 17117, 'name': 'Sporting Goods Retail', 'short_name': 'Sporting Goods Retail', 'plural_name': 'Sporting Goods Retail', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_', 'suffix': '.png'}}, {'id': 18056, 'name': 'Skating Rink', 'short_name': 'Skating Rink', 'plural_name': 'Skating Rinks', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/skatingrink_', 'suffix': '.png'}}, {'id': 18065, 'name': 'Sports Club', 'short_name': 'Sports Club', 'plural_name': 'Sports Clubs', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/sports_outdoors_', 'suffix': '.png'}}]       1
[{'id': 13049, 'name': 'Diner', 'short_name': 'Diner', 'plural_name': 'Diners', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_', 'suffix': '.png'}}, {'id': 13134, 'name': 'Comfort Food Restaurant', 'short_name': 'Comfort Food', 'plural_name': 'Comfort Food Restaurants', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_', 'suffix': '.png'}}]                                                                                                                                                                                                                                                                  1
Name: count, Length: 216, dtype: int64

In [ ]:
df_dropped_columns['name_y'].value_counts() # note that name_y is the stations. This is going to be renamed to stations for a clearer understanding.count
df_dropped_columns['stations'] = df_dropped_columns['name_y']

In [ ]:
df_dropped_columns[['stations']].value_counts()

stations
10th & Cambie                             50
Cypress & 10th                            50
10th & Columbia                           50
Dunbar & Broadway                         50
Dunsmuir & Beatty                         50
                                          ..
Brock Commons                             20
Trimble & 8th                             19
Sasamat & 10th                            16
Arbutus & Nanton                          14
Stanley Park - Third Beach Parking Lot     6
Name: count, Length: 258, dtype: int64

In [ ]:
df_dropped_columns[['name_x']].value_counts()

name_x
Fitness World                      120
Caffe Barney                        50
Orangetheory Fitness                50
Robert Lee YMCA Pool                49
Creekside Park                      49
                                  ...
IDance Studios                       1
Stella Gym                           1
Unity Integration Studios            1
Devine Fitness & Pilates             1
kerrisdale cyclone Taylor arena      1
Name: count, Length: 960, dtype: int64

In [ ]:
df_dropped_columns[['fsq_id']].value_counts()

fsq_id
5806abc3d67c62c5c465643d    49
5501d248498ec8482e74c7f4    48
4d2d106da40da35d3af78e77    47
51f58381498ea9240bf344ce    46
4d114e17437c236a5d6c8e7d    45
                            ..
4bc18891920eb71349ef1a2c     1
948d7cf7b1a140a63b4eee52     1
93f88e578e55429cba8ac936     1
542dd7c3498ef8a716fff6d9     1
ff1254690f7e47b98456aa08     1
Name: count, Length: 1013, dtype: int64

In [ ]:
df_dropped_columns_sorted = df_dropped_columns.sort_values('categories')

In [ ]:
#sb.scatterplot(x=df_results_all['geocodes.main.longitude'],y=df_results_all['geocodes.main.latitude'],c='b')

In [ ]:
# Convert string representation of lists into actual lists
import ast
df_dropped_columns_sorted['categories'] = df_dropped_columns_sorted['categories'].apply(ast.literal_eval)

In [ ]:
# Extract category names
df_dropped_columns_sorted['category_names'] = df_dropped_columns_sorted['categories'].apply(lambda x: [d['name'] for d in x])

In [ ]:
# view the first 5 rows
#df_dropped_columns_sorted.head()

In [ ]:
df_dropped_columns_sorted['cat_names'] = [','.join(map(str, l)) for l in df_dropped_columns_sorted['category_names']]

In [ ]:
# df_dropped_columns_sorted.isnull().sum()

Unnamed: 0.1                            0
fsq_id                                  0
categories                              0
chains                                  0
closed_bucket                           0
distance                                0
link                                    0
name_x                                  0
timezone                             1448
geocodes.main.latitude                  0
geocodes.main.longitude                 0
geocodes.roof.latitude               1122
geocodes.roof.longitude              1122
location.address                     1090
location.country                        0
location.cross_street                7130
location.formatted_address            304
location.locality                     385
location.postcode                    2861
location.region                       304
related_places.parent.fsq_id        11047
related_places.parent.categories    11047
related_places.parent.name          11047
geocodes.drop_off.latitude           7582
geocodes.drop_off.longitude          7582
related_places.children             10897
location.address_extended            9911
bike_station_index                      0
location.po_box                     11472
geocodes.front_door.latitude        11452
geocodes.front_door.longitude       11452
Unnamed: 0                              0
id                                      0
name_y                                  0
latitude                                0
longitude                               0
timestamp                               0
free_bikes                              0
empty_slots                             0
stations                                0
category_names                          0
cat_names                               0
dtype: int64

In [6]:
# read the saved API data
data = pd.read_csv('final_data.csv')

In [ ]:
data.head()

,Unnamed: 0.2,Unnamed: 0.1,fsq_id,categories,chains,closed_bucket,distance,link,name_x,timezone,...,name_y,latitude,longitude,timestamp,free_bikes,empty_slots,stations,category_names,cat_names,category_group
0,11501,11501,a1bc6053934e4395a5b80379,"[{'id': 10000, 'name': 'Arts and Entertainment...",[],LikelyOpen,836,/v3/places/a1bc6053934e4395a5b80379,First Dance Vancouver,NaN,...,8th & Prince Edward,49.263518,-123.095680,2025-02-08T08:10:50.530814Z,8,10,8th & Prince Edward,"['Arts and Entertainment', 'Dance Studio']","Arts and Entertainment,Dance Studio",recreation
1,10654,10654,13723319ace94aa3d0ed4bc9,"[{'id': 10000, 'name': 'Arts and Entertainment...",[],Unsure,850,/v3/places/13723319ace94aa3d0ed4bc9,Salsa & Tango Dance Susana Domingues,NaN,...,18th & Cambie,49.254818,-123.114785,2025-02-08T08:10:50.556346Z,6,18,18th & Cambie,"['Arts and Entertainment', 'Dance Studio']","Arts and Entertainment,Dance Studio",recreation
2,494,494,13723319ace94aa3d0ed4bc9,"[{'id': 10000, 'name': 'Arts and Entertainment...",[],Unsure,450,/v3/places/13723319ace94aa3d0ed4bc9,Salsa & Tango Dance Susana Domingues,NaN,...,13th & Cambie,49.259579,-123.114769,2025-02-08T08:10:50.532118Z,5,9,13th & Cambie,"['Arts and Entertainment', 'Dance Studio']","Arts and Entertainment,Dance Studio",recreation
3,6935,6935,4d2621522f77a09011c60cf1,"[{'id': 10000, 'name': 'Arts and Entertainment...",[],LikelyOpen,859,/v3/places/4d2621522f77a09011c60cf1,Night and Day Dance,America/Vancouver,...,Princess & Union,49.277615,-123.091654,2025-02-08T08:10:50.528136Z,8,4,Princess & Union,"['Arts and Entertainment', 'Dance Studio']","Arts and Entertainment,Dance Studio",recreation
4,6848,6848,13723319ace94aa3d0ed4bc9,"[{'id': 10000, 'name': 'Arts and Entertainment...",[],Unsure,863,/v3/places/13723319ace94aa3d0ed4bc9,Salsa & Tango Dance Susana Domingues,NaN,...,Charleson Park,49.267628,-123.127698,2025-02-08T08:10:50.299604Z,10,4,Charleson Park,"['Arts and Entertainment', 'Dance Studio']","Arts and Entertainment,Dance Studio",recreation

## Group and Join Data

In [ ]:
# group by stations with min distance
data.groupby('bike_station_index',as_index=False)['distance'].min()

     bike_station_index  distance
0                     0       172
1                     1        82
2                     2        90
3                     3        46
4                     4       216
..                  ...       ...
253                 253       171
254                 254       108
255                 255       119
256                 256       106
257                 257        72

[258 rows x 2 columns]

In [ ]:
# group with count of fsq_id
data.groupby('bike_station_index',as_index=False)['fsq_id'].count()

     bike_station_index  fsq_id
0                     0      50
1                     1      45
2                     2      50
3                     3      47
4                     4      48
..                  ...     ...
253                 253      47
254                 254      46
255                 255      50
256                 256      50
257                 257      50

[258 rows x 2 columns]

In [ ]:
#df_grouped = data.groupby(['bike_station_index', 'category_group'], as_index=True).agg({'distance': 'min', 'fsq_id': 'count'})
#df_grouped

In [ ]:
# combined groupby
df_grouped = data.groupby('bike_station_index', as_index=True).agg({'distance': 'min', 'fsq_id': 'count'})

In [ ]:
# join the data 
df_merged = pd.merge(df_grouped,df_city_bikes,left_on='bike_station_index',right_on=df_city_bikes.index)
df_merged

,bike_station_index,distance,fsq_id,Unnamed: 0,id,name,latitude,longitude,timestamp,free_bikes,empty_slots,extra.uid,extra.renting,extra.returning,extra.last_updated,extra.slots,extra.normal_bikes,extra.ebikes,extra.has_ebikes
0,0,172,50,0,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,2025-02-08T08:10:50.124152Z,17,0,92,True,True,1739002136,18,15,2,True
1,1,82,45,1,012d3e06901cc222b1c2cf0a2ace3a29,St George & Broadway,49.262321,-123.093060,2025-02-08T08:10:50.529626Z,6,8,248,True,True,1739002022,14,5,1,True
2,2,90,50,2,029a505bd4422a1afd127987757f71a6,Britannia Parking Lot,49.275882,-123.071865,2025-02-08T08:10:50.528937Z,2,12,232,True,True,1739001589,14,2,0,True
3,3,46,47,3,0438114d2e6b96118de69bc9775bb21e,Morton & Denman,49.288030,-123.142135,2025-02-08T08:10:50.093341Z,12,14,31,True,True,1739001853,26,6,6,True
4,4,216,48,4,0459b7e93703980b853cd65a9dc60596,Thornton & National,49.273777,-123.092723,2025-02-08T08:10:50.528973Z,4,10,233,True,True,1739001524,14,4,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,253,171,47,253,fbb4c06b719596c21f91fd51ef6d4710,7th & Heather,49.265089,-123.119425,2025-02-08T08:10:50.123858Z,12,6,81,True,True,1739002135,18,11,1,True
254,254,108,46,254,fe0c57d04d6e682d284d501446095fc9,Union & Dunlevy,49.277595,-123.095830,2025-02-08T08:10:50.528015Z,5,11,212,True,True,1739002135,16,5,0,True
255,255,119,50,255,fedff7a263c182df94bda7307059cc52,Richards & Helmcken,49.277141,-123.122589,2025-02-08T08:10:50.299192Z,0,18,138,True,True,1739001816,18,0,0,True
256,256,106,50,256,fef69fb400210d861107a61db954d037,Keefer & Abbott,49.279821,-123.108020,2025-02-08T08:10:50.122810Z,15,13,53,True,True,1739001000,28,15,0,True
257,257,72,50,257,fffd87607aaae16fbb1f71615cbe7d17,8th & Prince Edward,49.263518,-123.095680,2025-02-08T08:10:50.530814Z,8,10,262,True,True,1739001737,18,7,1,True

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [2]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

Look at the data before and after the join to validate your data.

In [7]:
connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

In [15]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [20]:
create_stations_table = """
CREATE TABLE IF NOT EXISTS stations (
  bike_station_index INTEGER PRIMARY KEY AUTOINCREMENT,
  fsq_id INTEGER,
  name TEXT,
  free_bikes INTEGER,
  empty_slots INTEGER,
  latitude INTEGER,
  longitude INTEGER
);
"""

In [25]:
create_geodistance_table = """
CREATE TABLE IF NOT EXISTS geo_distance (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  bike_station_index INTEGER,
  latitude INTEGER,
  longitude INTEGER,
  FOREIGN KEY (bike_station_index) REFERENCES stations (bike_station_index)
  );
"""

In [22]:
execute_query(connection, create_stations_table)

Query executed successfully

In [26]:
execute_query(connection, create_geodistance_table)

Query executed successfully